<!--EN CONSTRUCCION!!!!!-->
<template>
  <div id="raiz"> 
    <div class="addPassanger_view">
      <div class="container_AddPassanger_view">
        <h1>Agregar pasajero</h1>

        <form v-on:submit.prevent="processAddPassanger">
          <input type="text" v-model="pasajero.nombrePasajero" placeholder="Nombre">
          <br>
          <input type="text" v-model="pasajero.apellidoPasajero" placeholder="Apellido">
          <br>
          <input type="date" style="display: flow-root;" v-model="pasajero.fechaNacimiento" placeholder="Fecha ">
          <br>
          <input type="text" v-model="pasajero.genero" placeholder="Género">
          <br>
          <input type="text" v-model="pasajero.tipoDocumento" placeholder="Tipo de Documento">
          <br>
          <input type="text" v-model="pasajero.documento" placeholder="Documento">
          <br>
          <button type="submit"> Agregar </button>
        </form>

      </div>
        
      <div class="resultadoPasajeros">
        <div v-for="item in pasajeros" :key="item.documento">
          <div class="container_Passangers">
            <h5>Documento: <span>{{item.documento}} - </span>
              Nombre completo: <span>{{item.nombre}} </span>
            <span style="margin-left: 5px;">{{item.apellido}}</span>
            </h5>
          </div>
        </div>
      </div>
        

    </div>
    <div style ="margin-top: 40px" class="endBooking_button">
          <button v-on:click="finalizarReserva()"> Finalizar Reserva </button>
        </div>
  </div>

</template>


<script>

import axios from "axios";

export default {
  name: "AddPassanger",

  data: function(){
    return {
      pasajero:{
        nombrePasajero: "",
        apellidoPasajero: "",
        fechaNacimiento : "",
        genero : "",
        tipoDocumento : "",
        documento: "",
        asiento : "",
      },

      pasajeros:[
      ]
    }
  },

  methods: {
    processAddPassanger: async function(item){
      if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
            return;
        }

        await this.verifyToken();
        
      let token = localStorage.getItem("token_access");
      let letras = ['A','B','C','D','E','F'];
      let letra = letras[Math.round( Math.random() * 5)] ;
      let asiento = (Math.round( Math.random() * 32) )+ 1;
      let asientoGen = asiento+""+letra ; //No lo he probado
      let idReservaLoc = localStorage.getItem("id_reserva");
      let idVueloLoc = localStorage.getItem("id_vuelo");

      const pasajero = { 
        nombrePasajero: this.pasajero.nombrePasajero,
        apellidoPasajero: this.pasajero.apellidoPasajero,
        fechaNacimiento : this.pasajero.fechaNacimiento,
        genero : this.pasajero.genero,
        tipoDocumento : this.pasajero.tipoDocumento,
        documento: this.pasajero.documento,
        asiento : asientoGen,
        id_vuelo : idVueloLoc,
        id_reserva : idReservaLoc
      }

      let api_url = 'https://mintic-c3p37g1-bank-be.herokuapp.com/addpassanger/'; 

      axios.post(api_url,pasajero,{headers: {'Authorization': `Bearer ${token}`}})
        .then((result) => {
            alert("El pasajero fue agregado a la reserva " + idReservaLoc + " exitosamente");
            let tempPasajero = {
              nombre: this.pasajero.nombrePasajero,
              apellido: this.pasajero.apellidoPasajero,
              documento: this.pasajero.documento
            };
            this.pasajeros.push(tempPasajero);
            this.pasajero = [];
            this.tempPasajero = [];
            console.log(this.pasajeros);
        })
        .catch((error) => {
          if (error.response == "401")
            alert("ERROR 401: Hubo un error.");
        });
  },

  finalizarReserva: function(){
      alert('Reserva Exitosa puedes consultarla bajo el id : ' + localStorage.getItem("id_reserva") );
      let dataLogIn = {
            username: localStorage.getItem("username"),
            token_access:  localStorage.getItem("token_access"),
            token_refresh:  localStorage.getItem("token_refresh"),
            fromBooking: true
          }
      this.$router.push("home");
  },

    verifyToken: function () {
        return axios.post("https://mintic-c3p37g1-bank-be.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
        .then((result) => {
            localStorage.setItem("token_access", result.data.access);		
        })
        .catch(() => {
            this.$emit('home');
        });
        }
  }
}

</script>


<style>
  
  [v-cloak] {
    display: none;
  }

  .addPassanger_view {
    margin: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container_AddPassanger_view {
    margin: 0 auto;
    margin-top: 30px;
    border: 3px solid #0B4B88;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    background-color: #cfcecc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .addPassanger_view h1 {
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .addPassanger_view h2 {
    width: 21%;
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .addPassanger_view form {
    width: 70%;
  }
  .addPassanger_view input {
    height:auto;
    width: 100%;
    font-family: calibri;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    flex-direction: column;
  
    border: 1px solid #0B4B88;
  }
  .addPassanger_view button {
    width: 100%;
    height: 40px;

    color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 1%, #0B4B88 100%);
    background-color: #0B4B88;
    border: 1px solid #0B4B88;
    font-family: calibri;
    font-weight: bold;

    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0;
  }
  .endBooking_button button{
    margin: 0 auto !important;    
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 1%, #0B4B88 100%);
    background-color: #0B4B88;
    border: 1px solid #0B4B88;
    font-family: calibri;
    font-weight: bold;

    border-radius: 5px;
    padding: 10px 10px;
  }
  .endBooking_button button:hover{
    background: linear-gradient(to bottom, #0B4B88 1%, #ffffff 100%);
    background-color: #ffffff;
    border: 1px solid #0B4B88;
  }
  .addPassanger_view button:hover {
    background: linear-gradient(to bottom, #0B4B88 1%, #ffffff 100%);
    background-color: #ffffff;
    border: 1px solid #0B4B88;
  }
  .addPassanger_view h5{
    color: #0B4B88;
    font-family: calibri;
    white-space: nowrap;
    width: 100%;
  }
  .addPassanger_view span{
    color: #292928;
  }
  .resultadoPasajeros{
    padding-right: 100px;
  }
  .container_Passangers{
    padding: 10px;
    border: 1px solid;
    margin-top: 10px;
  }

</style>