<template>

  <div class="greetings">
    <h1>¡Bienvenido <span> {{username}} </span>!</h1>
  </div>

</template>


<script>

export default {
  name: "Home",

  data: function(){
    return {
      username: localStorage.getItem('username') || "none"
    }
  }
}

</script>


<style>

  .greetings{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(https://www.wallpaperbetter.com/wallpaper/335/26/449/the-plane-flying-at-sunset-airliner-photography-2K-wallpaper-middle-size.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .greetings h1{
    font-size: 50px;
    font-family: calibri;
    color: #f6f6f6;
  }
  .greetings span{
    color: #0B4B88;
    font-weight: bold;
  }
  
</style>