<template>

  <div class="logIn_user">
    <div class="container_logIn_user">
      <h2>Iniciar sesión</h2>

      <form v-on:submit.prevent="processLogInUser">
        <input type="text" v-model="user.username" placeholder="Usuario">
        <br>
        <input type="password" v-model="user.password" placeholder="Contraseña">
        <br>
        <button type="submit"> Iniciar Sesión </button>
      </form>

    </div>
  </div>

</template>


<script>

import axios from "axios";

export default {
  name: "LogIn",

  data: function(){
    return {
      user: {
        username:"",
        password:""
      }
    }
  },

  methods: {
    processLogInUser: function(){
      axios.post(
        "https://mintic-c3p37g1-bank-be.herokuapp.com/login/",
        this.user,
        {headers: {}}
        )
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          }
          this.$emit("completedLogIn", dataLogIn);
          console.log("Estamos logineados")
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Credenciales Incorrectas.");
        });
    }
  }
}

</script>


<style>

  .logIn_user {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_logIn_user {
    border: 3px solid #0B4B88;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    background-color: #cfcecc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logIn_user h2 {
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    color: #0B4B88;
  }
  .logIn_user form {
    width: 70%;
  }
  .logIn_user input {
    height: 40px;
    width: 100%;
    font-family: calibri;

    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;

    border: 1px solid #0B4B88;
  }
  .logIn_user button {
    width: 100%;
    height: 40px;

    color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 1%, #0B4B88 100%);
    background-color: #0B4B88;
    border: 1px solid #0B4B88;
    font-family: calibri;
    font-weight: bold;

    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0;
  }
  .logIn_user button:hover {
    background: linear-gradient(to bottom, #0B4B88 1%, #ffffff 100%);
    background-color: #ffffff;
    border: 1px solid #0B4B88;
  }

</style>