<template>

  <div id="app" class="app">
    <div style ="padding-left:30px" class="header">
      <div>
        <h1>VuelVuelos </h1>
        <h2> Siempre contigo </h2>
      </div>
      
      <div class="Imagen">
            <img src="@/assets/LogoVV.png">
            
      </div>

      <nav>
        <button v-if="!is_auth" v-on:click="loadSearch"> Buscar Vuelos </button>
        <button v-if="!is_auth" v-on:click="loadLogIn"> Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp"> Registro </button>
        
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadFlightSearch"> Buscar Vuelos </button>
        <button v-if="is_auth" v-on:click="loadBookingSearch"> Mi Reserva </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
      </nav>

    </div>

    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
        v-on:completedBooking="completedBooking"
      >
      </router-view>
    </div>

    <div class="footer">
      <h5>Misión TIC: C3 - P37 - G1</h5>
    </div>
    
  </div>

</template>


<script>

export default {
  name: "App",

  data: function(){
    return{
      is_auth: false
    }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false)
        this.$router.push({ name: "search" });
      else
        this.$router.push({ name: "home" });
    },

    loadSearch: function(){
      this.$router.push({ name: "search" })
    },
    loadLogIn: function(){
      this.$router.push({ name: "logIn" })
    },
    loadSignUp: function(){
      this.$router.push({ name: "signUp" })
    },
    loadHome: function(){
      this.$router.push({ name: "home" })
    },
    loadFlightSearch: function(){
      this.$router.push({ name: "flightSearch" })
    },
    loadBookingSearch: function(){
      this.$router.push({ name: "bookingSearch" })
    },
    logOut: function(){
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      if(!data.fromBooking){
        alert("Autenticación Exitosa");
      }        
      this.verifyAuth();
    },
    completedSignUp: function(data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },
    completedBooking: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("id_reserva", data.id_reserva);
      localStorage.setItem("id_vuelo", data.id_vuelo);
      alert("Reserva creada exitosamente");
      this.$router.push({ name: "addPassanger" })
    },
  },

  created: function(){
    this.verifyAuth()
  }
}

</script>


<style>
  @import url('https://fonts.googleapis.com/css?family=Pacifico');
  body{
   margin: 0;
   background-color: #FBA01D;
   font-family: Calibri;

 }

.header {
  margin: 0;
  width: 100%;
  height: 10vh;
  min-height: 135px;
  background-color: #FBA01D;

  font-family: Guthen Bloots Personal Use;

  color:#0B4B88;
  text-shadow: 1px 1px 2px #ffffff, 0 0 1em #ffffff, 0 0 0.2em #0B4B88;
  display: flex;
  
  align-items: center;
}
.header h1{
  margin-left: 30px;
  font-family: Pacifico; 
  font-size: 35px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  margin: 0 auto;
}

.header h2{
  margin-left: 30px;
  font-family: Pacifico; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  margin: 0 auto;
  padding-left: 12%;
}

.header nav {
  height: 100%;
  width: 30%;
  float: right;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-left: 45%;
}
.header nav button{
  color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 1%, #0B4B88 100%);
  background-color: #0B4B88;
  border: 1px solid #0B4B88;
  font-family: calibri;
  font-weight: bold;

  display: flex;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px 0;
}
.header nav button:hover{
  background: linear-gradient(to bottom, #0B4B88 1%, #ffffff 100%);
  background-color: #ffffff;
  border: 1px solid #0B4B88;
}
.main-component{
  height: 75vh;
  margin: 0%;
  padding: 0%;

  background: #ffffff;
}
.footer {
  margin: 0;
  width: 100%;
  height: 10vh;
  min-height: 10px;

  background-color: #0B4B88;
  font-family: calibri;
  color:#ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h5 {
  width: 15%;
  text-align: center;
}

.Imagen img {
  width: 50%;
  height: 50%;
  border-radius: 100px;
  margin-left: 20px;
  margin: 0 auto;
  justify-self: auto;
}

</style>